@model Holidays.Models.Holiday

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h3>It is @Model.daysUntil() day@(@Model.daysUntil()!=1?"s":"") until @Model.name</h3>
        <img src="~@Model.imageName" />
    </div>
</body>
</html>